<!DOCTYPE html>
<html>

<head>
    <title>Comparateur de prix de logements </title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
<h1>Comparateur de prix pour Logement : Appartement ou Maison via LebonCoin et MeilleursAgents</h1>
    <p>
        <%= message %>
    </p>
    <form action="/" method="GET">
        <input type="text" name="urlLBC"/>
        <button type "submit">Comparaison</button>

    </form>
</body>

</html>