<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Welcome to
        <%= message %>
    </p>

    <form action="/" method="GET">

        <input type="text" name="urlLBC"/>

        <button type="submit">
            OK
        </button>
    </form>

</body>

</html>